<div class="max-w-3xl mx-auto">
    <div
      class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal"
    >
      <div class="bg-white relative top-0 -mt-32 p-5 sm:p-10">
        <h1
          href="#"
          class="text-gray-900 font-bold text-3xl mb-2 text-right"
        >
          جرایم مالیاتی سامانه مودیان و پایانه های فروشگاهی <br />
          بر چه اساسی است ؟
        </h1>

        <p class="text-base leading-8 my-5 text-right">
          در این مقاله، با تمرکز بر روی نوع تخلف، جرایم مالیاتی سامانه
          مودیان و پایانه‌های فروشگاهی را بررسی می‌کنیم. سازمان امور مالیاتی
          کشور به منظور اطمینان از رعایت مقررات و قوانین جدید، جرایمی را
          برای افراد خاطی در نظر گرفته است. افرادی که از انجام تکالیف مربوط
          به قانون پایانه فروشگاهی و سامانه مودیان خودداری می‌کنند، ممکن است
          مشمول جریمه شوند. در اینجا، ما به بررسی این جرایم و جزئیات آن‌ها
          می‌پردازیم. اگر شما صاحب کسب‌وکار یا حسابدار یک مجموعه اقتصادی
          هستید، حتماً ادامه این مطلب را مطالعه کنید.
        </p>

        <h3 class="text-2xl font-bold my-5">
          1 : جریمه عدم ثبت نام و عضویت در سامانه مودیان
        </h3>

        <p class="text-base leading-8 my-5">
          جریمه مالیاتی در سامانه مودیان برای عدم ثبت نام در این سامانه شامل
          موارد زیر است: - عدم توجه به فراخوان سامانه مودیان و عدم ثبت نام -
          جریمه عدم ثبت نام در سامانه مودیان - جریمه عدم استفاده از
          پایانه‌های فروشگاهی - جریمه عدم استفاده از حافظه مالیاتی یا شناسه
          یکتای مالیاتی - جریمه استفاده از حافظه مالیاتی سایر مودیان - جریمه
          واگذاری حافظه مالیاتی خود به دیگران این جرایم شامل پرداخت ۱۰ درصد
          از مجموع مبلغ فروش یا ۲ میلیون تومان وجه (هر کدام بیشتر باشد) به
          سازمان امور مالیاتی می‌شود. در حالی که مبلغ ۲ میلیون تومان به
          عنوان جریمه در نظر گرفته شده، اما با توجه به تورم، تمرکز بیشتر بر
          جریمه معادل ۱۰ درصد از مبلغ فروش است. همچنین، افراد متخلف از این
          قانون ممکن است از مزایای مالیاتی مانند نرخ صفر مالیاتی برای
          واحدهای دارای مجوز محروم شوند و یا از مالیات بر درآمد مشاغل مستقیم
          محروم شوند.
        </p>
        <h3 class="text-2xl font-bold my-5">
          2 : جریمه عدم اعلام شماره حساب‌های بانکی تجاری
        </h3>

        <p class="text-base leading-8 my-5">
          بنا به بند پ ماده ۲۲ قانون جدید سامانه مودیان و پایانه‌های
          فروشگاهی، عدم اعلام فعالیت‌های حسابداری جرایمی به دنبال دارد. از
          جمله این جرایم عدم اعلام شماره حساب‌های بانکی تجاری است که موجب
          مشمول شدن به ۱۰٪ جریمه نسبت به عملکرد و فروش از طریق این حساب‌های
          بانکی می‌شود. این جرم قابل تشخیص است زیرا تراکنش‌های بانکی به
          راحتی قابل رصد است و علاوه بر این، افراد متخلف از مزایای مالیاتی
          محروم می‌شوند. استفاده از نرم‌افزار واسط ارسال صورتحساب الکترونیک
          یاس فاکتور می‌تواند به شما کمک کند تا به راحتی و با دقت صورتحساب
          الکترونیک خود را ارسال کنید و از جرایم قانونی سامانه مودیان نگران
          نباشید.
        </p>
        <h3 class="text-2xl font-bold my-5">
          3 : جریمه عدم ارائه صورتحساب چاپی فروش به خریدار
        </h3>

        <p class="text-base leading-8 my-5">
          با توجه به بخشنامه سامانه مودیان و قوانین مربوط به جرایم مالیاتی،
          عدم ارائه صورتحساب چاپی به خریدار توسط فروشنده یا صاحب واحد
          اقتصادی می‌تواند منجر به جریمه‌ای شود که معادل ۲ درصد از مبلغ
          صورتحساب یا ۲ میلیون تومان (بیشتری را بگیرند) است. قبل از ارائه
          صورتحساب‌ها، می‌توانید اقدام به بررسی سوابق مالی و پرونده مالیاتی
          خود در سامانه my.tax.gov.ir کنید.
        </p>

        <h3 class="text-2xl font-bold my-5">
          4 : جریمه عدم ارسال صورتحساب به صورت الکترونیکی به سامانه مودیان
        </h3>

        <p class="text-base leading-8 my-5">
          واحدهای اقتصادی که از صدور صورتحساب الکترونیکی خودداری می‌کنند،
          ممکن است مشمول جریمه‌ای شوند که معادل ۱۰ درصد از مجموع فروش
          انجام‌شده یا ۲ میلیون تومان (هر کدام بیشتر باشد) است. با استفاده
          از نرم افزار واسط سامانه مودیان یاس فاکتور، می‌توانید به راحتی و
          با سرعت و دقت صورتحساب الکترونیکی خود را ارسال کنید و نگران جرایم
          قانونی سامانه مودیان نباشید.
        </p>
        <h3 class="text-2xl font-bold my-5">
          5 : جریمه عدم اعلام تعطیلی یا گزارشات فروش واحد اقتصادی
        </h3>

        <p class="text-base leading-8 my-5">
          یکی از موارد مهم در بررسی جرایم مالیاتی سامانه مودیان، عدم گزارش
          تعطیلی موقت یا دائم واحد تجاری یا انحلال آن است. اگر مودی این
          موارد را در سامانه مودیان گزارش ندهد، ممکن است مشمول پرداخت
          جریمه‌ای شود که ۱ درصد از مبلغ فروش گزارش‌نشده است. همچنین، در
          صورت اعلام تغییر شغل یا محل فعالیت در سامانه مودیان، ممکن است
          مشمول جریمه شود. این قانون مشابهاً برای سامانه ارزش افزوده نیز
          اعمال می‌شود و مودیان باید مهلت ارسال اظهارنامه مالیاتی را رعایت
          کنند، در غیر این صورت ممکن است مشمول جریمه شوند.
        </p>
        <!-- <blockquote class="border-l-4 text-base italic leading-8 my-5 p-5 text-indigo-600">Lorem Ipsum is simply
                dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s
            </blockquote> -->
        <h3 class="text-2xl font-bold my-5">در ادامه :</h3>

        <p class="text-base leading-8 my-5">
          پس از بررسی جرایم مالیاتی مرتبط با سامانه مودیان و پایانه‌های
          فروشگاهی، استفاده از نرم‌افزارهای واسطه می‌تواند به شما کمک کند تا
          به راحتی و با دقت، اطلاعات مورد نیاز را ارسال کرده و از جرایم
          قانونی جلوگیری کنید. استفاده از این نرم‌افزارها همچنین به شما کمک
          می‌کند تا زمان و هزینه‌های مربوط به رسیدگی به جرایم را کاهش دهید و
          به بهبود فرآیند کاری خود بپردازید. بنابراین، توصیه می‌شود از
          نرم‌افزارهای واسطه مانند "یاس فاکتور" استفاده کنید تا به بهترین
          شکل ممکن از سامانه مودیان استفاده کنید و از جرایم مالیاتی جلوگیری
          کنید.
        </p>

        <!-- <a href="#"
                class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                #Election
            </a>,
            <a href="#"
                class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                #people
            </a>,
            <a href="#"
                class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                #Election2020
            </a>,
            <a href="#"
                class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                #trump
            </a>,<a href="#"
                class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                #Joe
            </a> -->
      </div>
    </div>
  </div>